
<form style="width: 100%" name="description">
    <h3 style="margin: 15px 0 0 50px">Храните ваши заметки у нас. Легко и просто.</h3>

</form>
<form aria-label>
    <div class="register-form">
        {{#if login}}
                <h3>Hey, {{username}}!</h3>
                    <h6>Набрано лайков: {{like}}</h6>
            <a href="/logout" class="badge badge-primary" style="font-size: x-large">LogoutController</a>
        {{else}}

            <a href="/login" class="badge badge-primary" style="font-size: large">войти</a> |
            <a href="/register" class="badge badge-primary" style="font-size: large">регистрация</a>
        {{/if}}

    </div>
    <ul class="pagination pagination-lg" style="margin-left: 50px">
        <li class="page-item"><a class="page-link {{addClassMain}}" href="/">Главная</a></li>
        <li class="page-item"><a class="page-link {{addClassNews}}" href="/pageNotes">Новости</a></li>
        <li class="page-item"><a class="page-link {{addClassFeatures}}" href="/features">Фичи</a></li>
        <li class="page-item"><a class="page-link {{addClassLogs}}" href="/logs">Логи</a></li>
    </ul>
</form>
