<h2>My tags:</h2>
    <p style="font-size: 18px; color: blue">My tags: {{myTags}}</p>
<h2>{{myLastTag}}</h2>
<p style="font-size: 18px; color: darkgoldenrod">My last tags: {{lastTags}}</p>
<h2>{{features}}</h2>
{{#users}}
    <p style="font-size: 18px; color: red">{{username}} is has raiting {{raiting}}</p>
{{/users}}
<h2>{{features2}}</h2>
{{#last10}}
    <p style="font-size: 18px; color: green">{{username}} is has raiting {{raiting}}</p>
{{/last10}}
<h2>Коэффициент активность</h2>
{{#activityUsers}}
    <p style="font-size: 18px; color: green">Коэфициент {{username}} составляет {{activity}}</p>
{{/activityUsers}}
