<h2 class="title">{{news}}</h2>
    {{#notes}}

        <form class="articles-news" name="news" id="post-{{id}}">
            <div style="margin-top: 15px">
                <p><button type="submit" class="close button add tags" data-dismiss="alert" aria-label="Close" style="float: left" id="button-add-tags-{{id}}">
                    <span aria-hidden="true" id="add-tags-{{id}}" name={{id}}>+</span>
                </button>

                    <button type="submit" class="close button notes" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" id="delete-notes-{{id}}" name={{id}}>&times;</span>
                    </button>

                    <br>
                    <div id="container-tags-{{id}}">
                    {{#tag}}
                        <button type="submit" class="close button delete tags" data-dismiss="alert" aria-label="Close" style="float: none" id="delete-tag-{{id}}" name="{{note_id}}">
                        <span aria-hidden="true" id="delete-tags-{{id}}" name={{id}}>&times;</span>
                    </button>
                <a id="tag-{{id}}" href="" style="margin-left: 3px">{{tag}}</a>
                    {{/tag}}
                    </div>

                </p>

            </div>
            <button type="submit" class="like edit text button" style="margin-right: 5px" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" id="edit-text-{{id}}" name={{id}}>&nbsp✎</span>
            </button>
            <a style="margin: 15px 0 15px 0" id="note-{{id}}">
                    {{text}}
            </a>
            <div style="margin: 15px 0 15px 0" id="info-note-{{id}}">
                Автор: {{user.username}} <br> Опубликовано: {{date}}
            </div>


        <div class="collapse" id="collapseExample-{{id}}">
            {{#comment}}
            <div class="articles-news comments">
               {{text}}<br>
                <button type="submit" class="close button comment" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" id="delete-comment-{{id}}" name={{id}}>&times;</span>
                </button>
                <br>
                <span aria-hidden="true" style="float: left; margin-top: 10px">Комментарий от: {{comment.user.username}}</span>
            </div>
            {{/comment}}
            <div class="input-group add-notes" id="add-notes-{{id}}">

                <div class="input-group-prepend">
                    <button class="input-group-text add-comments" type="button" name="{{id}}">Добавить</button>
                </div>
                <div type="tags" class="form-control" id="inputComment-{{id}}" placeholder="напиши комментарий" contenteditable="true"></div>
            </div>
        </div>

            <div style="margin-top: 5px">
                    <span class="like" type="button" style="color: red" name="{{id}}">&heartsuit; <p style="float: right; margin-left: 5px" name={{id}}>{{likes}}</p></span>
            <a data-toggle="collapse" href="#collapseExample-{{id}}" role="button" aria-expanded="false"
               aria-controls="collapseExample-{{id}}" style="font-size: 14px; float: right; padding-top: 10px; margin-right: 15px">
                комментарии
            </a>
            </div>
        </form>
    {{/notes}}
